
@font-face {
	font-family: 'Helvetica Neue UltraLight';
	src: url('../fonts/HelveticaNeue-UltraLight.eot');
	src: url('../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeue-UltraLight.woff') format('woff'),
		url('../fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/BrandonGrotesque-Regular.eot');
	src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/BrandonGrotesque-Bold.eot');
	src: url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
html{
font-size:19px;
}
@media screen and (max-width: 1199px){
	html{
		font-size:16px;
	}
}
@media screen and (max-width: 991px){
	html{
		font-size:14px;
	}
}
@media screen and (max-width: 767px){
	html{
		font-size:11px;
	}
}
body{
    font-family:'Helvetica Neue UltraLight',Calibri,sans-serif;
    background:#fdfdfd;
    color:#9E9490;
}
p,li{
    font-size:1.2rem;
}
a{
    color:#F38B00;
    cursor:pointer;
}
a:hover,a:focus{
    color:#F38B00;
}
hr{
    border:0;
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    height:1px;
}
hr.tall{
    margin:40px 0;
}
.center{
    text-align:center
}
.right{
    float:right;
}
.inbl{
    display:inline-block;
}
.push-top{
    margin-top:90px;
}
.pd-top{
    padding-top:90px
}
.push-bottom{
    margin-bottom:90px;
}
.pd-bottom{
    padding-bottom:90px
}
.nopadding{
    padding:0!important;
}
.nomargin{
    margin:0!important;
}
.errore{
    font-weight:bold;
    color:red;
}
.btn{
    padding:10px 30px;
    color:#fdfdfd;
    background:#F38B00;
    font-size:1rem;
    border-radius:0;
    border:0;
	transition: all .2s;
}
.btn:hover,.btn:focus{
    color:#fdfdfd;
    text-decoration:none;
    outline:0!important;
}
.btn:hover{
	background:#ffa54c;
}
.btn:focus{
	background:#F38B00;
    box-shadow:inset 0px 0px 10px #984600;
    -webkit-box-shadow:inset 0px 0px 10px #984600;
    -moz-box-shadow:inset 0px 0px 10px #984600;
    -o-box-shadow:inset 0px 0px 10px #984600;
}
.btn.lg{
	font-size:2rem;
}
.orange{
    color:#F38B00;
}
.bg-orange{
    background-color:#E48409;
}
.bg-grey{
    background-color:#8A8370;
}
.white,.white:hover,.white:focus{
    color:#fdfdfd;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight:400;
}

h2.titsec{
	font-size:5.5rem;
}
h3.titsec{
	font-size:2.5rem;
}
h4.titsec{
	font-size:2rem;
}

@media (min-width: 1200px){
	.container {
	    padding: 0px 60px;
	}
}


/*MENU*/
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: rgba(228,132,9,.35);
    transition: all .3s;
    text-align:center;
}
@media screen and (max-width: 1199px){
	.menu{
		display:none;
		height:0px;
	}
}
/*.menu ul{
    padding:0;
    list-style-type: none;
    display: inline-block;
    margin:0;
}
.menu ul li{
    display:inline-block;
    font-size:.85rem;
}
.menu ul li a{
    display:block;
    padding:20px 20px;
    color: #fdfdfd;
    text-transform: uppercase;
	border-bottom:3px solid transparent;
	transition: all.3s;
}
.menu ul li a:hover,.menu ul li a.active{
    text-decoration:none;
}
.menu ul li a:focus{
    outline: 0!important;
	text-decoration:none;
}
.menu ul li a.active{
	border-color:#fafafa;
	transform:scale(1.1,1.1);
}*/

.menu ul{
    display: inline-block;
    margin:0;
		text-align:left;
		padding-right:0px;
}
.menu>ul{
	padding:0;
	list-style-type: none;
}

.menu ul li{
    font-size:.7rem;
}
.menu>ul>li{
    display:inline-block;
		vertical-align:top;
}

.menu ul li a{
    display:block;
		font-weight:bold;
    padding:5px 20px;
    color: #fdfdfd;
    text-transform: uppercase;
	border-bottom:3px solid transparent;
	transition: all.3s;
}
.menu>ul>li>a{
padding-top:10px;
}

.menu ul li a:hover,.menu ul li a.active{
    text-decoration:none;
}
.menu ul li a:focus{
    outline: 0!important;
	text-decoration:none;
}
.menu>ul>li>a.active,
.menu>ul>li>ul>li>a.active{
	/*border-color:#fafafa;*/
	text-decoration:underline;
	transform:scale(1.1,1.1);
}
@media screen and (max-width:767px) {
	.menu ul li{
		font-size:.6rem;
	}
	.menu ul li a{
		padding:20px 10px;
	}
}
/*MENU*/


/*LANDING*/
#landing{
    min-height:60vh;
    background: url("../img/landingbg.jpg") no-repeat center center;
		background-color:grey;
    background-size: cover;
}
/*LANDING*/

/*manifesto*/
#manifesto{
    min-height:50vh;
    background: url("../img/b2.jpg") no-repeat center center;
		background-color:gold;
    background-size: cover;
}
/*manifesto*/

/*features*/
#features{
    min-height:50vh;
    background: url("../img/b3.png") no-repeat center top;
		background-color:orange;
    background-size: cover;
}
/*features*/

/*features2*/
#mission{
    min-height:50vh;
    background: url("../img/b4.jpg") no-repeat center top;
		background-color:brown;
    background-size: cover;
}
/*features2*/

/*portfolio*/
#portfolio{
    min-height:50vh;
}
/*portfolio*/

/*servizi*/
.servizio{
    min-height:50vh;
}
#servizio1{
	background: url("../img/exh.png") no-repeat center top;
	background-size: cover;
}
#servizio2{
	background: url("../img/stage.png") no-repeat center top;
	background-size: cover;
}
#servizio3{
	background: url("../img/spec.png") no-repeat center top;
	background-size: cover;
}
#servizio4{
	background: url("../img/tech.png") no-repeat center top;
	background-size: cover;
}
/*servizi*/

/*facilities*/
.facilities{
	min-height:50vh;
}
#facilities{
	background: url("../img/faci.png") no-repeat center top;
	background-size: cover;
}
#mappe{
	background:#ABA48F;
}
/*facilities*/

/*news*/
#news{
	min-height:50vh;
}
/*news*/


/*SERVICES*/
.service{
	overflow:hidden;
	transition: all .7s;
	max-height:0px;
}
.tgserv,.tgserv:hover,.tgserv:focus{
    color:#fafafa;
		text-decoration: none;
}
.tgserv:after{
	content: '';
  position: absolute;
  left: 45%;
  height: 50px;
  bottom: -30px;
  width: 50px;
  border-bottom: 5px solid #fafafa;
  border-right: 5px solid #fafafa;
	transform: rotate(45deg);
}
.banda{
	background: #F38B00;
    background: -webkit-linear-gradient(left, #9E9490 , #F38B00);
    background: -o-linear-gradient(right, #9E9490, #F38B00);
    background: -moz-linear-gradient(right, #9E9490, #F38B00);
    background: linear-gradient(to right, #9E9490 , #F38B00);
	text-align:center;
	color:#fdfdfd;
}
.banda.inv{
	background: #9E9490;
    background: -webkit-linear-gradient(right, #9E9490 , #F38B00);
    background: -o-linear-gradient(left, #9E9490, #F38B00);
    background: -moz-linear-gradient(left, #9E9490, #F38B00);
    background: linear-gradient(to left, #9E9490 , #F38B00);
	text-align:center;
	color:#fdfdfd;
}
.banda ul{
	padding: 0;
	margin:0;
    list-style-type: none;
    display: inline-block;
}
.banda ul>li{
	display:inline-block;
	margin:30px;
	cursor:pointer;
}
.banda ul>li.active{
	border-bottom:2px solid #fdfdfd;
}
.picevent{
	height:150px;
	margin:10px;
}
.picover{
    height: 100%;
    background: rgba(246,148,50,.6);
    color: white;
	cursor:pointer;
    opacity:0;
	transition: all .5s;
	padding:10px;
	display:block;
}
.picover:hover{
    opacity:1;
	color:white;
	text-decoration:none;
}
.picover:focus{
	text-decoration:none;
}
/*SERVICES*/



/*sales*/
.gotocontact,.gotocontact:hover,.gotocontact:focus{
    color:#3c3c3c;
		text-decoration: none;
}
/*.gotocontact:after{
	content: '';
  position: absolute;
  left: 45%;
  height: 50px;
  bottom: -30px;
  width: 50px;
  border-bottom: 5px solid #3c3c3c;
  border-right: 5px solid #3c3c3c;
	transform: rotate(45deg);
}*/
/*sales*/

/*news*/
#news{
background: url("../img/news.png") no-repeat center top;
background-size: cover;
}
/*news*/

/*CONTACT*/
input{
	width:100%;
	height:36px;
	font-size:1.2rem;
	margin-bottom:20px;
    border:2px solid #ccc;
		color:#9E9490;
		font-weight:bold;
    transition:all .3s;
    padding:5px;
}
textarea{
	width:100%;
	height:100px;
	font-size:1.2rem;
	margin-bottom:20px;
    border:2px solid #ccc;
		color:#9E9490;
		font-weight:bold;
    transition:all .3s;
    padding:5px;
}
input:focus,textarea:focus{
    border:2px solid #F38B00;
    outline:0 !important;
    padding:5px;
}
.btnform{
	background:#9E9490;
	padding:10px;
	width:100%;
	font-size:1.3rem;
	transition: all .3s;
}
.btnform.ok{
	cursor:pointer;
	background:#F38B00;
}
.btnform.ok:hover{
	background:#ffa54c;
}
.btnform.done{
	background:green;
}
.btnform.error{
	background:red;
}
/*CONTACT*/

/*FOOTER*/
.foot_top{
	background: url('../img/foot.png') repeat center center;
	/*background-size: cover;*/
	height:64px;
}
footer{
	background:#F38B00;
	padding:50px 0;
}
.social{
	font-weight:bold;
	font-size:.8rem;
}
@media screen and (max-width:991px) {
	.social{
		font-size:1rem;
	}
}
.social img{
	display:inline-block;
	width:50px;
	margin-right:10px;
	float: right;
}
/*FOOTER*/

/*TORNA SU*/
#totop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background:#444;
    cursor: pointer;
    border: 0;
	font-size:1.5rem;
    text-decoration: none;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: 0;
	color: #fafafa;
}
#totop:hover {
	color:#ffa54c;
}
#totop:focus {
	color:#F38B00;
}
#totop.show {
    opacity: .6;
}
/*TORNA SU*/

/*MODAL*/
.modal-backdrop.in {
    opacity: .9;
}
.modal-backdrop{
    /*background: #F38B00;
    background: -webkit-linear-gradient(left, #9E9490 , #F38B00);
    background: -o-linear-gradient(right, #9E9490, #F38B00);
    background: -moz-linear-gradient(right, #9E9490, #F38B00);
    background: linear-gradient(to right, #9E9490 , #F38B00);
	*/
	background: #3c3c3c;
}
.altfoto{
	cursor:pointer;
}
@media screen and (min-width: 768px){
    .modal-dialog {
        max-width:1200px;
        width:100%;
    }
    /*#modfoto{
        border-right:1px solid #fafafa;
    }*/
}
.modal-content{
    background-color:transparent;
    border:0;
    box-shadow:none;
	border-bottom:1px solid #fafafa;
}
.modal-header{
    border-bottom:1px solid #fafafa;
    color:#fafafa;
    text-align:center;
}
.modal-title{
    font-size:2.2rem;
}
#fotomodal{
	margin-bottom:20px;
}
#modtxt{
    color:#fafafa;
}
#modtxt a{
    color:#fafafa!important;
    text-decoration: underline;
}
.close{
    color:#fafafa;
    font-size:3rem;
    opacity:1;
}
.close:hover, .close:focus{
    color:#fafafa;
    opacity:1;
    outline:0;
}
/*MODAL*/
